<h1>Edit Your Palace!</h1>
<h2 ng-hide="palaceCtrl.editBool">{{palaceCtrl.palace.name}}</h2>
<button ng-click="palaceCtrl.editBool = true" ng-hide="palaceCtrl.editBool">Edit Palace Name</button>
<!-- inline form for editing palace name -->
<h2 ng-hide="!palaceCtrl.editBool">
  <input type="text" ng-model="palaceCtrl.name" value="{{palaceCtrl.palace.name}}">
  <input type="submit" ng-click="palaceCtrl.editPalaceName()" value="Submit">
</h2>

<!-- ability to switch between public and private! -->
<p ng-hide="palaceCtrl.palace.public">Your palace is currently private and only visible to you. Click <a ng-click="palaceCtrl.goPublicOrPrivate(true)">here</a> to make it public so others can enjoy it too.</p>
<p ng-hide="!palaceCtrl.palace.public">Your palace is currently public, so everyone can see it and is probably judging you. Click <a ng-click="palaceCtrl.goPublicOrPrivate(false)">here</a> to hide your shame and make this palace a private one.</p>

<div id="image-container">
  <!-- $event is available as a part of ng-click -->
  <img droppable id="palace-img" ng-click="palaceCtrl.addCardToImg($event)" src="images/objects{{palaceCtrl.palace.imageNumber}}.jpg" alt="object shelf">
</div>

<a href="{{palaceCtrl.singlePalaceUrl}}">Done Editing</a></br>
<a href="{{palaceCtrl.allPalaceUrl}}">Back to Full List of My Palaces</a>

<!-- resizable directive isn't working, even when i try to use it separately from draggable -->
<!-- <div resizable on-resize="palaceCtrl.resize($evt, $ui)" id="resize-box">
   Resizable Div for testing!
</div> -->

<!-- form for image upload. Not working yet.
<form ng-app="fileUpload" ng-submit="palaceCtrl.submitImage()">
  <div class="button" ngf-select ng-model="palaceCtrl.image" name="file" ngf-pattern="'image/*'"
    accept="image/*" ngf-max-size="20MB" ngf-min-height="100"
    ngf-resize="{width: 100, height: 100}">Select</div>
  <input type="submit" value="Submit image!">
</form>
-->
