<h2 class="welcome-h">Log in and start studying!</h2>

<form class="form-group" ng-submit="mainCtrl.login()">
  <input id="username-input" class="form-control" type="text" ng-model="mainCtrl.username"/>
  <label for="username-input">Username</label>
  <br>
  <input id="password-input" class="form-control" type="password" ng-model="mainCtrl.password"/>
  <label for="password-input">Password</label>
  <br>
  <input type="submit" class="btn btn-default" value="Log In!"/><br>
  <a href="/signup">Don't have an account? Sign up here!</a>
</form>

<img class="form-img" src="images/welcome/img1.jpg">
