<h1>Your Palace: </h1>
<h2>{{palaceCtrl.palace.name}}</h2>
<h4>Created at: {{palaceCtrl.palace.created}}</h4>
<h4>By: {{palaceCtrl.palace._owner.username}}</h4>

<p>You can study your flashcards here! Read the questions on the cards below, and click the Show/Hide button to reveal or conceal the answer.</p>
<p>You can also see a full list of the question and answer pairs below.</p>
<p>When you're ready to take the quiz, <a href="{{palaceCtrl.singlePalaceUrl + '/quiz'}}">go for it</a>!</p>
<p>Finally, if you need to add Question/Answer flashcards to this palace, or change the palace's name, click <a href="{{palaceCtrl.singlePalaceUrl + '/edit'}}">here</a>.</p>

<div id="image-container">
  <img droppable id="palace-img" src="images/objects{{palaceCtrl.palace.imageNumber}}.jpg" alt="object shelf">
</div>
<br>
<p ng-if="!palaceCtrl.facts">Facts: </p>
<ul ng-repeat="fact in palaceCtrl.facts">
  <li>
    <h5>Card #{{$index + 1}}</h5>
    <p>Question: {{fact.question}}</p>
    <p>Answer: {{fact.answer}}</p>
  </li>
</ul>
<br>
<a href="{{palaceCtrl.allPalaceUrl}}">Back to My Palaces</a>
