<h1 class="welcome-h">Choose One of Your Palaces</h1>
<h3 class="welcome-h"><a href="{{loggedinCtrl.newPalaceUrl}}">...or make a new one!</a></h3>
<ul ng-repeat="palace in loggedinCtrl.palaces">
  <li class="listed-palace">
    <h3><a href="{{loggedinCtrl.allPalaceUrl + '/' + palace._id}}">{{palace.name}}</a></h3>
    <p>Created at: {{palace.created}}</p>
    <img src="images/objects{{palace.imageNumber}}.jpg" alt=""><br>
    <button ng-click="loggedinCtrl.deletePalace(palace)">Delete this Palace</button>
  </li>
</ul>
