<div class="jumbotron">
  <h1>Welcome to <span id="site-logo">L O C I :</span></h1>
  <h2>A Memory Palace App</h2>
</div>

<h4 class="welcome-h">...but what the heck is a memory palace? More info <a href="https://en.wikipedia.org/wiki/Method_of_loci" target="_blank">here</a>, <a href="http://plato.stanford.edu/entries/mental-imagery/ancient-imagery-mnemonics.html" target="_blank">here</a>, and <a href="http://www.mostlymaths.net/2011/03/learn-to-remember-everything-memory.html" target="_blank">here</a>.</h4>
<h5 class="welcome-h">And if you're not into the whole reading thing, <a href="https://www.ted.com/talks/joshua_foer_feats_of_memory_anyone_can_do" target="_blank">here</a>.</h5>

<!-- slider thing from the incomparable Greg Dunn! -->
<!-- header -->
<div id="header">
    <!-- nav -->
    <div id="navigation">
        <label class="button" for="frame1"></label>
        <label class="button" for="frame2"></label>
        <label class="button" for="frame3"></label>
        <label class="button" for="frame4"></label>
        <label class="play" for="play">Auto-Scroll</label>
    </div>

</div>

<!-- container -->
<div id="slider-container">
  <input type="radio" value="frame1" name="frames" id="frame1"/>
  <input type="radio" value="frame2" name="frames" id="frame2"/>
  <input type="radio" value="frame3" name="frames" id="frame3"/>
  <input type="radio" value="frame4" name="frames" id="frame4"/>
  <input type="checkbox" value="play" name="play" id="play"/>

  <!-- slider -->
  <div id="slider">
    <figure>
        <img src="images/welcome/img1.jpg" alt="">
        <img src="images/welcome/img2.jpg" alt="">
        <img src="images/welcome/img3.jpg" alt="">
        <img src="images/welcome/img4.jpg" alt="">
      </figure>
    </div>
  </div>
