* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  padding: 1rem;
}

#palace-img {
  height: 500px;
  margin: 0 auto;
  position: relative;
}

#image-container {
  height: 500px;
  position: relative;
}

.draggable-div {
  z-index: 100;
  background-color: lightgrey;
  opacity: 0.7;
  height: 100px;
  width: 100px;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  position: absolute;
  transition: 0.5s;
}

.fact-clicked {
  height: 200px;
  width: 200px;
  opacity: 1;
}

.cover {
  z-index: -1;
}

.show {
  z-index: 10;
}

.hidden {
  display: none;
}

.question, .answer {
  font-size: 0.8rem;
  font-weight: bolder;
}

#resize-box {
  width: 75px;
  height: 75px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: red;
}

.radio-image {
  height: 150px;
  border: 1px solid lightgrey;
}

.fact-form {
  width: 75px;
}
