@font-face {
	font-family: Fredericka;
  src: url('fonts/Fredericka_the_Great/FrederickatheGreat-Regular.ttf');
}

@font-face {
	font-family: Quicksand;
  src: url('fonts/Quicksand/Quicksand-Regular.ttf');
}

@font-face {
	font-family: Sanchez;
  src: url('fonts/Sanchez/Sanchez-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sanchez, sans-serif;
}

#site-logo {
  font-family: Fredericka, serif;
  padding-left: 0.75rem;
}

nav {
  background-color: #f0f8ff;
  /*background-color: #ff666a;*/
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

nav > a {
  font-size: 2rem;
  padding-right: 2rem;
}

/* slider for welcome page */
/*Header*/

#header {
  padding-top: 1.5rem;
  text-align: center;
  height: 100px;
  /*background-color: rgba(255,255,255, .5)*/
}

#header h1 {
  margin-top: 30px;
  font-weight: 300;
}

/*Container*/

#container {
  width: 100%;
  margin: 0 auto;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

input[value="frame1"]:checked ~ #slider figure {
  transition: .2s;
  left: 0%;
}

input[value="frame2"]:checked ~ #slider figure {
  transition: .2s;
  left: -100%;
}

input[value="frame3"]:checked ~ #slider figure {
  transition: .2s;
  left: -200%;
}

input[value="frame4"]:checked ~ #slider figure {
  transition: .2s;
  left: -300%;
}

input[value="play"]:checked ~ #slider figure {
  left: 0%;
  animation: 10s slidy infinite;
}

/*Slider*/

#slider {
  overflow: hidden;
}

#slider figure img {
  width: 25%;
  /*float: left;*/
}

#slider figure {
  position: relative;
  width: 400%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
}

/*Animation*/

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
}

/*Navigation*/

#navigation {
  text-align: center;
}

.button {
  border-radius: 50%;
  display: inline-block;
  width: 20px;
  background-color: white;
  border: 1px solid black;
  height: 20px;
  transition: .3s;
}

.button:hover {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.play {
  vertical-align: top;
}

/* end slider for homepage */

.jumbotron {
  margin-top: 3rem;
  max-width: 80%;
  margin: 0 auto;
  border-radius: 25px;
}

.jumbotron > h1, .jumbotron > h2, .jumbotron > a {
  text-align: center;
}

.jumbotron > a {
  font-size: 2rem;
  margin: 0 auto;
}

.welcome-h {
  text-align: center;
}

li {
  padding: 1rem;
}

#palace-img {
  height: 500px;
  margin: 0 auto;
  position: relative;
}

#image-container {
  height: 500px;
  position: relative;
}

.draggable-div {
  z-index: 10;
  background-color: #f1f1f1;
  opacity: 0.7;
  height: 100px;
  width: 100px;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
  position: absolute;
  transition: 0.5s;
}

.draggable-div > button {
  width: 60%;
}

.fact-clicked {
  height: 200px;
  width: 200px;
  opacity: 1;
  z-index: 11;
}

.embiggen {
  font-size: 2rem;
}

.cover {
  z-index: -1;
}

.show {
  z-index: 10;
}

.hidden {
  display: none;
}

.question, .answer {
  font-size: 0.8rem;
  font-weight: bolder;
}

/*#resize-box {
  width: 75px;
  height: 75px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: red;
}*/

.radio-image {
  height: 150px;
  border: 1px solid #f1f1f1;
}

.fact-form {
  width: 75px;
}
